@import "./fonts.scss";
@import "./hero.scss";
@import "./word-list.scss";
@import "./hero-top-item.scss";

body {
    font-family: "Manrope";
    margin: 0;
}

body * {
    box-sizing: border-box;
}

h1,
p {
    margin: 0;
}
